.bcg {
    min-height: 580px;
    width: 100%;

    background-image: url('../images/mobile/hero/slider/Sliderimg3@1x.png');

    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;


    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url('../images/mobile/hero/slider/Sliderimg3@2x.png');
    }

    @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
        background-image: url('../images/mobile/hero/slider/Sliderimg3@3x.png');
    }

    @media screen and (min-width: getSize(tablet)) {
        max-width: 768px;
        max-height: 680px;
        margin: 0 auto;

        background-image: url('../images/tablet/hero/slider/Sliderimg3@1x.png');

        background-size: 610px 680px, cover;
        background-position: top right, center;
        background-repeat: no-repeat;

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('../images/tablet/hero/slider/Sliderimg3@2x.png');
        }

        @media (min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
            background-image: url('../images/tablet/hero/slider/Sliderimg3@3x.png');
        }
    }

    @media screen and (min-width: getSize(desktop)) {
        max-width: 1280px;

        margin: 0 auto;

        background-image: url('../images/desktop/hero/slider/Sliderimg3@1x.png');
        background-size: 1127px 680px, cover;
        background-position: top right, center;
        background-repeat: no-repeat;


        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('../images/desktop/hero/slider/Sliderimg3@2x.png');
        }

        @media (min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
            background-image: url('../images/desktop/hero/slider/Sliderimg3@3x.png');
        }
    }
}

.price {
    background-color: getColor(uppert);
    background-image: url('../images/mobile/price/img@1x.png');

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url('../images/mobile/price/img@2x.png');

    }

    @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
        background-image: url('../images/mobile/price/img@3x.png');
    }

    @media screen and (min-width: getSize(tablet)) {
        background-color: getColor(uppert);
        background-image: url('../images/tablet/price/img@1x.png');

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;


        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('../images/tablet/price/img@2x.png');

        }

        @media (min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
            background-image: url('../images/tablet/price/img@3x.png');
        }
    }

    @media screen and (min-width: getSize(desktop)) {
        background-color: getColor(uppert);
        background-image: url('../images/desktop/price/img@1x.png');

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('../images/desktop/price/img@2x.png');
        }

        @media (min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
            background-image: url('../images/desktop/price/img@3x.png');
        }
    }
}


.contacts {
    background-color: getColor(dark-bcg);
    width: 100%;

    background-image: url('../images/mobile/contacts/Bg@1x.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 124% 45%;


    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: url('../images/mobile/contacts/Bg@2x.png');
    }

    @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
        background-image: url('../images/mobile/contacts/Bg@3x.png');
    }

    @media screen and (min-width: getSize(tablet)) {
        background-size: 100% 45%;
        background-image: url('../images/tablet/contacts/Bg@1x.png');

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url('../images/tablet/contacts/Bg@2x.png');
        }

        @media (min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
            background-image: url('../images/tablet/contacts/Bg@3x.png');
        }

    }

    @media screen and (min-width: getSize(desktop)) {
        background-size: contain;
        background-repeat: no-repeat;

        background-size: 50% 100%, 50% auto;
        background-position: right top, right center;
        background-image: url('../images/desktop/contacts/Bg@1x.png');


        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('../images/desktop/contacts/Bg@2x.png');

        }

        @media (min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
            background-image: url('../images/desktop/contacts/Bg@3x.png');
        }
    }
}